extends layout

block content
  .col-1-2
    button.area-trigger(data-area="preset-area" data-text="Preset Fixtures")
    
    #preset-area.hidden
      h2 Choose a Preset Fixture
      p Choose the 'Type' and 'Name' of a specific rule or check you would like to test.
      
      .col-1-2
        fieldset
          legend Type
          div.radio
            input#rule-type(type="radio" name="type" value="rule" checked="true")
            label(for="rule-type") Rule
          div.radio
            input#check-type(type="radio" name="type" value="check")
            label(for="check-type") Check
              
      .col-1-2
        fieldset
          legend#name-legend Name
          .presets.rule
            div
              select#rule-presets(aria-labelledby="name-legend")
                each name in rules
                  if defaultRule && defaultRule == name
                    option(value=name selected="true" default-selected) #{name}
                  else
                    option(value=name) #{name}
          .presets.check.hidden
            div  
              select#check-presets(aria-labelledby="name-legend")
                each type in Object.keys(checks)
                  each name in checks[type]
                    option(value=name) #{name}
              
      p.clear
      button#apply-preset Apply Selected Preset
      
    h2 Edit the Fixture
    p 
      | Modify the markup of the fixture below. This can be useful to test 
      | whether minor adjustments to the given markup will satisfy the axe 
      | tool's rules.
      
    label#edit-html-legend(for="markup") Edit HTML
    textarea#markup.prettyprint(rows="10")
    button#render Render Markup

    h2 View the Rendered Fixture
    p Everything in the area below will be targeted by axe when you analyze the page.
    #fixture
      block fixture

  .col-1-2
    button.area-trigger(data-area="options-area" data-text="axe Options") 
    
    #options-area.hidden
      h2 axe Options
      p 
        | Modify the options object below and click 'Analyze' to update the results. For more info, see#{' '}
        a(href="https://github.com/dequelabs/axe-core/blob/master/doc/API.md#options-parameter") the axe documentation for the Options parameter
        | . 
             
      label(for="config-textarea") Edit Options
      textarea#config-textarea(rows="8")
      button#analyze Update Results
    
    h2 axe Results
    label(for="axe-results") Violations Array
    textarea#axe-results(rows="30" readonly="true")

  script(src="/build/axe/index.js")
  script. 
    analyze()
